@inherits LayoutComponentBase
@using Models
@using Business.Repository.IRepository
@inject StoredItems stored

<div class="sidebar">
    <NavMenu />
</div>


<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code
{

}
